- name: app setup for application {{component}}
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup
- name : importing nodejs setup application 
  ansible.builtin.import_role:
    name: common
    tasks_from: nodejs-setup
- name: copying config file
  ansible.builtin.template:
    src: user.service.j2
    dest: /etc/systemd/system/user.service
- name: system deamon reload
  ansible.builtin.systemd_service:
    daemon_reload: true
    
- name: Copying MongoDB repo
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: importing mongodb to load data
  ansible.builtin.import_role:
    name: common
    tasks_from: mongodb_data_load




